* NAME: RISHABH PATIL
* SAP: 60009200056
* BATCH: K2

In [ ]:
import numpy as np 
import pandas as pd 
import string as st
import re
import nltk

In [ ]:
from nltk.corpus import shakespeare

In [ ]:
def remove_stopwords(doc):
  stopwords=["to","is","a","an","the","for","of","in","at",]
  special_char=[",",":"," ",";",".","?","'"]
  new_doc = []
  for i in range(len(doc)):
    if doc[i] not in stopwords and doc[i] not in special_char:
      new_doc.append(doc[i])
  return new_doc

In [ ]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [ ]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [ ]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [ ]:
nltk.download('shakespeare')

[nltk_data] Downloading package shakespeare to /root/nltk_data...
[nltk_data]   Unzipping corpora/shakespeare.zip.

True

In [ ]:
l = nltk.corpus.shakespeare.fileids()

In [ ]:
docA = nltk.corpus.shakespeare.words(l[0])[:15]
docB = nltk.corpus.shakespeare.words(l[1])[:15]

In [ ]:
for i in range(len(docA)):
  docA[i] = docA[i].lower()
  docB[i] = docB[i].lower()

In [ ]:
docA = remove_stopwords(docA)
docB = remove_stopwords(docB)

In [ ]:
print(docA)
print(docB)

['tragedy', 'antony', 'and', 'cleopatra', 'dramatis', 'personae', 'mark', 'antony', 'octavius', 'caesar', 'm', 'aemilius']
['midsummer', 'night', 's', 'dream', 'dramatis', 'personae', 'theseus', 'duke', 'athens', 'egeus']

In [ ]:
uniqueWords = set(docA).union(set(docB))

In [ ]:
uniqueWords

{'aemilius',
 'and',
 'antony',
 'athens',
 'caesar',
 'cleopatra',
 'dramatis',
 'dream',
 'duke',
 'egeus',
 'm',
 'mark',
 'midsummer',
 'night',
 'octavius',
 'personae',
 's',
 'theseus',
 'tragedy'}

In [ ]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in docA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in docB:
    numOfWordsB[word] += 1

In [ ]:
tfA = computeTF(numOfWordsA, docA)
tfB = computeTF(numOfWordsB, docB)

In [ ]:
numOfWordsA

{'personae': 1,
 'octavius': 1,
 'dream': 0,
 'aemilius': 1,
 'and': 1,
 'duke': 0,
 'theseus': 0,
 'night': 0,
 'egeus': 0,
 'cleopatra': 1,
 'm': 1,
 'tragedy': 1,
 's': 0,
 'midsummer': 0,
 'athens': 0,
 'antony': 2,
 'dramatis': 1,
 'caesar': 1,
 'mark': 1}

In [ ]:
tfA

{'personae': 0.08333333333333333,
 'octavius': 0.08333333333333333,
 'dream': 0.0,
 'aemilius': 0.08333333333333333,
 'and': 0.08333333333333333,
 'duke': 0.0,
 'theseus': 0.0,
 'night': 0.0,
 'egeus': 0.0,
 'cleopatra': 0.08333333333333333,
 'm': 0.08333333333333333,
 'tragedy': 0.08333333333333333,
 's': 0.0,
 'midsummer': 0.0,
 'athens': 0.0,
 'antony': 0.16666666666666666,
 'dramatis': 0.08333333333333333,
 'caesar': 0.08333333333333333,
 'mark': 0.08333333333333333}

In [ ]:
idfs = computeIDF([numOfWordsA, numOfWordsB])

In [ ]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [ ]:
df

,caesar,dream,and,octavius,cleopatra,theseus,m,night,aemilius,personae,dramatis,duke,athens,mark,antony,s,egeus,tragedy,midsummer
0,0.057762,0.000000,0.057762,0.057762,0.057762,0.000000,0.057762,0.000000,0.057762,0.0,0.0,0.000000,0.000000,0.057762,0.115525,0.000000,0.000000,0.057762,0.000000
1,0.000000,0.069315,0.000000,0.000000,0.000000,0.069315,0.000000,0.069315,0.000000,0.0,0.0,0.069315,0.069315,0.000000,0.000000,0.069315,0.069315,0.000000,0.069315